<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Work Search | Home Page</title>
    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500&display=swap" rel="stylesheet"/>
    
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/ec77412d4b.js" crossorigin="anonymous"></script>
 
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/>
    
    <!-- Favicon Files -->
    <link rel="apple-touch-icon" sizes="180x180" href="favicon-files/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-files/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-files/favicon-16x16.png"/>
    <link rel="manifest" href="favicon-files/site.webmanifest"/>

    <link rel="stylesheet" href="css/styles.css"/>
  </head>
  <body>
    
    <header class="top-container-1">
      <div class="container-fluid">
        <div class="row justify-content-end">
          <div class="col-lg-3 pe-4">
             <div class="pre-navigation text-center text-md-end">
                <a href="/account/login" class="nav-link--1">
                  Login
                </a>
                <a href="/account/register" class="nav-link--2">
                  Register
                </a>
             </div>
          </div>
        </div>
      </div>
    </header>
    <header class="top-container-2">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <!-- Website Logo -->
          <a class="navbar-brand" href="#">
            <img src="images/logo.png" alt="Website Logo" class="logo"/>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fas fa-bars hamburger-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">
                  <span class="nav-link-highlight">
                    About
                  </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span class="nav-link-highlight">
                    Recruitment
                  </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span class="nav-link-highlight">
                    Contact
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <section class="home-page-middle-container--1">
      <div class="container-fluid">
        <!-- Shape Divider -->
        <div class="custom-shape-divider-bottom-1623485299">
          <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
              <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill--1"></path>
          </svg>
      </div>
        <div class="row justify-content-around">
          <div class="col-md-6">
            <div class="card home-page-sect_a-card-colour--1">
              <div class="card-body">
                 <div class="home-page-sect_a-text-container--1">
                   <h1 class="home-page-sect_a-text--1">
                      Come and find great jobs in the <span class="home-page-sect_a-highlight--1">
                        easiest
                      </span> way possible...
                   </h1>
                 </div>
                 <div class="home-page-sect_a-text-container--2">
                   <p class="home-page-sect_a-text--2">Let's make things happen!</p>
                 </div>
                 <div class="home-page-sect_a-button-container--1">
                   <div class="home-page-sect_a-button-container--2">
                     <a href="/account/login" class="btn home-page-sect_a-button-colour--1 btn-lg">
                        Login
                     </a>
                   </div>
                 </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="card home-page-sect_a-card-colour--2">
              <div class="card-body">
                <div class="home-page-sect_a-text-container--3">
                   <h4 class="home-page-sect_a-text--3">Create your 
                     <span class="fw-bold text-uppercase home-page-sect_a-highlight--2">free</span>
                    account now!</h4>
                </div>
                <form action="/account/register" method="POST">
                  <div class="mb-3 form-group">
                    <label for="clientName" class="form-label">
                      <span class="fw-bold home-page-sect_a-text-colour">Name:</span>
                    </label>
                    <input type="text" name="name" class="form-control" id="clientName" autocomplete="off"/>
                  </div>
                  <div class="mb-3 form-group">
                    <label for="clientEmail" class="form-label">
                      <span class="fw-bold home-page-sect_a-text-colour">Email:</span>
                    </label>
                    <input type="email" name="email" class="form-control" id="clientEmail" autocomplete="off"/>
                  </div>
                  <div class="mb-3 form-group">
                    <label for="clientPassword" class="form-label">
                      <span class="fw-bold home-page-sect_a-text-colour">Password:</span>
                    </label>
                    <input type="password" name="password" class="form-control" id="clientPassword"/>
                  </div>
                  <div class="home-page-sect_a-button-container--3">
                      <button type="submit" class="btn home-page-sect_a-button-colour--2">
                        Register
                      </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="home-page-middle-container--2">
      <div class="container-fluid">
        <!-- Shape Divider -->
        <div class="custom-shape-divider-bottom-1623485299">
          <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
              <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill--2"></path>
          </svg>
        </div>
        <div class="home-page-sect_b-text-container--1">
          <h3 class="home-page-sect_b-text--1">Why use Work Search?</h3>
        </div>
        <div class="home-page-sect_b-reasons-container">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-4 col-md-6">
                <div class="card home-page-sect_b-card--1">
                  <div class="card-body">
                     <div class="home-page-sect_b-text-container--2">
                        <span class="home-page-sect_b-img-container">
                          <i class="fas fa-paste"></i>
                        </span>
                        <p class="home-page-sect_b-text--2">Here at WorkSearch, we don't use CVs at all. Rather, we promote candidates to employers based off their skills and aptitude. In other words, if you have the potential, then we'll find an employer who'll take you on!</p>
                     </div>
                  </div>
                </div>
              </div>
              <div class="home-page-sect_b-line-divider">

              </div>
              <div class="col-lg-4 col-md-6">
                <div class="card home-page-sect_b-card--2">
                  <div class="card-body">
                     <div class="home-page-sect_b-text-container--2">
                        <span class="home-page-sect_b-img-container">
                          <i class="fas fa-user-friends"></i>
                        </span>
                        <p class="home-page-sect_b-text--2">There's no need to apply for job. Just set up your profile showcasing your skils, and then hiring managers will contact YOU directly. This is quite different from other recruitment agencies.</p>
                     </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="home-page-middle-container--3">
      <div class="container-fluid">
        <!-- Shape Divider -->
        <div class="custom-shape-divider-bottom-1623485299">
          <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
              <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill--3"></path>
          </svg>
        </div>
        <div class="row home-page-sect_c-row-spacer--1 justify-content-evenly">
          <div class="col-md-auto">
            <div class="card home-page-sect_c-card--1">
              <div class="card-body">
                 <div class="home-page-sect_c-text-container--1">
                    <h5 class="home-page-sect_c-text--1">
                      12yr Record
                    </h5>
                 </div>
              </div>
            </div>
          </div>
          <div class="col-md-auto">
            <div class="card home-page-sect_c-card--2">
              <div class="card-body">
                 <div class="home-page-sect_c-text-container--2">
                   <h5 class="home-page-sect_c-text--2">
                     8.3m Clients
                   </h5>
                 </div>
              </div>
            </div>
          </div>
          <div class="col-md-auto">
            <div class="card home-page-sect_c-card--3">
              <div class="card-body">
                <div class="home-page-sect_c-text-container--3">
                   <h5 class="home-page-sect_c-text--3">
                     UK Network
                   </h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-auto">
            <div class="card home-page-sect_c-card--4">
              <div class="card-body">
                 <div class="home-page-sect_c-text-container--4">
                   <h5 class="home-page-sect_c-text--4">
                     640+ Companies
                   </h5>
                 </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Specialist Areas: Education, IT, Hospitality, Property, Health Care -->
        <div class="home-page-sect_c-specialism-container">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <div class="card home-page-sect_c-card--4">
                  <div class="card-body">
                    <div class="home-page-sect_c-text-img-container">
                      <div class="home-page-sect_c-img-container--1">
                        <img src="images/img-1.jpg" alt="Photo of a teacher in a class" class="picture"/>
                      </div>
                      <div class="home-page-sect_c-text-container--5">
                        <h4 class="home-page-sect_c-text--5">Education</h4>
                      </div>
                      <div class="home-page-sect_c-text-container--6">
                        <p class="home-page-sect_c-text--6">Are you a teacher, or teaching assistant? WorkSearch has connections with a wide range of schools and institutions all over England. Even to this day, many NQTs and experienced teachers get jobs through our solid network.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card home-page-sect_c-card--5">
                  <div class="card-body">
                     <div class="home-page-sect_c-text-img-container">
                       <div class="home-page-sect_c-img-container--2">
                          <img src="images/img-2.jpg" alt="A computer screen with code" class="picture"/>
                       </div>
                       <div class="home-page-sect_c-text-container--7">
                         <h4 class="home-page-sect_c-text--7">IT & Tech</h4>
                       </div>
                       <div class="home-page-sect_c-text-container--8">
                         <p class="home-page-sect_c-text--8">The tech & IT sector is growing faster than ever before. If you're a Software Engineer, Data Scientist or programmer... companies need you. Here at WorkSearch, we have recruiters headhunting to fill job vacancies in software companies, startups and other places. Whether you're a seasoned developer or just starting out, WorkSearch can definitely put you on the right path. Sign up now, and show us what you got!</p>
                       </div>
                     </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card home-page-sect_c-card--6">
                  <div class="card-body">
                    <div class="home-page-sect_c-text-img-container">
                      <div class="home-page-sect_c-img-container--3">
                        <img src="images/img-3.jpg" alt="Wine and fruit on a table" class="picture"/>
                      </div>
                      <div class="home-page-sect_c-text-container--9">
                        <h4 class="home-page-sect_c-text--9">Hospitality</h4>
                      </div>
                      <div class="home-page-sect_c-text-container--10">
                        <p class="home-page-sect_c-text--10">Hospitality services are required at venues all year round. Whether it's at a restaurant, hotel, guest dinner, football match etc. WorkSearch has placed hundreds of Food & Beverage staff in locations all over the UK. If you're looking for a job in Hspitality, we've definitely got smething for you. Some recruiting companies even offer on-the-job training. Come check us out to see where you belong!</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="card home-page-sect_c-card--7">
                  <div class="card-body">
                    <div class="home-page-sect_c-text-img-container">
                      <div class="home-page-sect_c-img-container--4">
                        <img src="images/img-4.jpg" alt="Picture of a big, beautiful mansion" class="picture"/>
                      </div>
                      <div class="home-page-sect_c-text-container--11">
                        <h4 class="home-page-sect_c-text--11">Property & Estate</h4>
                      </div> 
                      <div class="home-page-sect_c-text-container--12">
                        <p class="home-page-sect_c-text--12">Let's face it, everyone needs a place to stay. Regardless of whether you're a visitor, working professional, or a student, accommodation is important. WorkSearch actively feeds new staff members to Estate Agencies and Property Management businesses. If you work in Real Estate or Property Management, we can certainly help you get your next job. WorkSearch also helps to fill vacancies in Surveyor and Architect roles too.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                Column
              </div>
              <div class="col">
                Column
              </div>
            </div>
          </div>
        </div>
      </div>    
    </section>

    

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    <!-- Full jQuery Library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="index.js"></script>
  </body>
</html>