*,
*::before,
*::after {  /* CSS Reset */
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    min-height: 100%;  /* Ensures HTML page is at least as high as browser viewport */
}

body {
    max-width: 100%;
    overflow-x: hidden;
    min-height: 100vh;  /* Ensures page body is at least as high as browser viewport */
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
    color: #000000;
    box-sizing: border-box;  /* Border & Padding now included in Width & Height */
}

/* Pre-navigation Bar */

.top-container-1 {
    width: 100vw;
    background-color: #000000;
}

.pre-navigation .nav-link--1, .pre-navigation .nav-link--2 {
    font-size: 1.1rem;
    color: #FFFFFF;
    text-decoration: none;
}

.pre-navigation .nav-link--1:hover, 
.pre-navigation .nav-link--2:hover {
    color: #F4ABC4;
}

.nav-link--1 {
    margin-right: 2px;
}

/* Main Navigation Bar */

.top-container-2 {
    width: 100vw;
    background-color: #FFFFC7;
}

.navbar {
    padding: 0.8% 5%;
    background-color: #FFFFC7;
}

/* .navbar-brand {
    background-color: grey;
} */

.navbar-brand .logo {  /* Targeting small-screen devices & others */
    max-width: 100%;
    height: auto;
    width: 130px;
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
    .navbar-brand .logo {
        width: 150px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {  /* Targeting medium-screen devices */
    .navbar-toggler {
        transform: translateX(15px);
    }
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
    .navbar-toggler {
        transform: translateX(7px);
    }
}

.hamburger-icon {
    font-size: 1.7rem;
    color: #050505;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {  /* Targeting medium-screen devices */
    .navbar-nav {
        margin-top: 15px;
    }
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
    .navbar-nav {
        margin-top: 12px;
    }
}

.nav-link {  /* Targeting small-screen devices & others */
    font-size: 1.05rem;
    color: #5D93F7;
}

.nav-link:hover {
    color: #EEEEEE;
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
    .nav-link {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 600px) {
    .nav-link {
        line-height: 1.1;
    }
}

.nav-link-highlight {
    padding: 3px;
    box-shadow: 3px -3px 4.3px 0 #7E0FC5;
    background-color: #111111;
}

.home-page-middle-container--1 {  /* Targeting small-screen devices & others */
    width: 100vw;
    position: relative;
    padding: 30px 0 68px 0;  /* Small-screen */
    background-color: #A9F1DF;
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
    .home-page-middle-container--1 {
        padding: 60px 0 80px 0;
    }
}

/* Shape Divider */

.custom-shape-divider-bottom-1623485299 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1623485299 svg {
    position: relative;
    display: block;
    width: calc(132% + 1.3px);
    height: 39px;
}

.custom-shape-divider-bottom-1623485299 .shape-fill--1 {
    fill: #FFFFC7;
}

.home-page-sect_a-card-colour--1 {
    border: none;
    background-color: #A9F1DF;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
    .home-page-sect_a-text-container--1 {
        text-align: center;
    }
}

.home-page-sect_a-text--1 {  /* Targeting small-screen devices & others */
    font-size: 2.2rem;
}

@media only screen and (min-width: 992px) {  /* Targeting large-screen devices and up */
    .home-page-sect_a-text--1 {
        font-size: 4.3rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {  /* Targeting medium-screen devices */
    .home-page-sect_a-text--1 {
        font-size: 3.8rem;
    }
}

@media only screen and (max-width: 600px) {
    .home-page-sect_a-text-container--2 {  /* Targeting small-screen devices */
        text-align: center;
    }
}

.home-page-sect_a-text--2 {  /* Targeting small-screen devices & others */
    font-size: 1.1rem;
    letter-spacing: 1.4px;
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
    .home-page-sect_a-text--2 {
        font-size: 1.3rem;
    }
}

.home-page-sect_a-button-container--2 {
    width: 40%;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
    .home-page-sect_a-button-container--2 {
        margin: auto;
    }
}

.home-page-sect_a-button-colour--1 {
    color: #050505;
    width: 100%;
    border: 1.5px solid #050505;
}

.home-page-sect_a-button-colour--1:hover {
    color: #050505;
    border: none;
    background-color: #808080;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
    .home-page-sect_a-button-colour--1 {
        margin-bottom: 20px;
    }
}

.home-page-sect_a-card-colour--2 {
    border: none;
    background-color: #FFFFFF;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
    .home-page-sect_a-card-colour--2 {
        transform: scale(0.95) translateX(-3px);
    }
}

.home-page-sect_a-text-container--3 {
    width: 95%;
    text-align: left;
    padding-bottom: 15px;
    /* background-color: #FF0000; */
}

.home-page-sect_a-text--3 {  /* Targeting small-screen devices & others */
    font-size: 1.3rem;
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
    .home-page-sect_a-text--3 {
        font-size: 1.7rem;
    }
}

.home-page-sect_a-highlight--2 {
    text-decoration: solid underline #BD00AA;
}

.home-page-sect_a-text-colour {
    color: #000000;
}

/* .home-page-sect_a-button-container--3 {
    background-color: #00FF00;
} */

.home-page-sect_a-button-colour--2 {
    color: #EEEEEE;
    width: 100%;
    background-color: #111111;
}

.home-page-sect_a-button-colour--2:hover {
    color: #FFFF00;
}

.home-page-middle-container--2 {
    width: 100vw;
    position: relative;
    background-color: #FFFFC7;
}

/* Shape Divider */

.custom-shape-divider-bottom-1623485299 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1623485299 svg {
    position: relative;
    display: block;
    width: calc(132% + 1.3px);
    height: 39px;
}

.custom-shape-divider-bottom-1623485299 .shape-fill--2 {
    fill: #A9F1DF;
}

.home-page-sect_b-text-container--1 {  /* Targeting small-screen devices & others */
    width: 90%;
    margin: auto;
    padding-top: 60px;  /* Small-screen */
    text-align: center;
    /* background-color: #FF0000; */
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
    .home-page-sect_b-text-container--1 {
        padding-top: 80px;
    }
}

.home-page-sect_b-text--1 {  /* Targeting small-screen devices & others */
    font-size: 2rem;
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
    .home-page-sect_b-text--1 {
        font-size: 2.5rem;
    }
}

.home-page-sect_b-reasons-container {  /* Targeting small-screen devices & others */
    width: 90%;
    margin: auto;
    padding: 15px 0 40px;  /* Small-screen */
    /* background-color: grey; */
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
    .home-page-sect_b-reasons-container {
        padding: 20px 0 80px 0;
    }
}

.home-page-sect_b-card--1 {
    border: none;
    background-color: #FFFFC7;
}

.home-page-sect_b-text-container--2 {
    width: 90%;
    margin: auto;
    text-align: center;
    /* background-color: #FF0000; */
}

.home-page-sect_b-img-container {  /* Targeting small-screen devices & others */
    font-size: 3rem;  /* Small-screen */
    color: #0000FF;
    float: left;
    display: block;
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
    .home-page-sect_b-img-container {
        font-size: 3.2rem;
    }
}

.home-page-sect_b-text--2 {
    font-size: 1.1rem;
}

.home-page-sect_b-line-divider {
    width: 60%;
    height: 0;
    margin: 15px auto;
    border-top-style: dashed;
    border-top-color: #0F0F0F;
    border-top-width: 5px;
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices */
    .home-page-sect_b-line-divider {
        display: none;
    }
}

.home-page-sect_b-card--2 {
    border: none;
    background-color: #FFFFC7;
}

.home-page-middle-container--3 {
    width: 100vw;
    position: relative;
    background-color: #A9F1DF;
}

/* Shape Divider */

.custom-shape-divider-bottom-1623485299 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1623485299 svg {
    position: relative;
    display: block;
    width: calc(132% + 1.3px);
    height: 39px;
}

.custom-shape-divider-bottom-1623485299 .shape-fill--3 {
    fill: #FFFFFF;
}

.home-page-sect_c-row-spacer--1 {
    padding-top: 20px;
}

.home-page-sect_c-card--1, .home-page-sect_c-card--2, 
.home-page-sect_c-card--3, .home-page-sect_c-card--4,
.home-page-sect_c-card--5, .home-page-sect_c-card--6,
.home-page-sect_c-card--7, .home-page-sect_c-card--8 {
    border: none;
    background-color: #A9F1DF;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
    .home-page-sect_c-text-container--1, .home-page-sect_c-text-container--2, 
    .home-page-sect_c-text-container--3, 
    .home-page-sect_c-text-container--4 {
        text-align: center;
    }
}

.home-page-sect_c-text--1, .home-page-sect_c-text--2, .home-page-sect_c-text--3, 
.home-page-sect_c-text--4 {
    font-size: 1.8rem;
    font-weight: 200;
    letter-spacing: 1.4px;
}

.home-page-sect_c-specialism-container {
    width: 90%;
    margin: auto;
    /* background-color: grey; */
}

@media only screen and (min-width: 992px) {  /* Targeting large-screen devices and up */
    .home-page-sect_c-specialism-container {
        padding: 50px 0 60px 0;
    }
}

.home-page-sect_c-card--4 {
    border: none;
    background-color: #A9F1DF;
}

.home-page-sect_c-img-container--1 {
    width: 320px;
    margin: auto;
    border-radius: 30px;
}

.home-page-sect_c-img-container--1 .picture {
    max-width: 100%;
    height: auto;
    width: 320px;
    border-radius: 30px;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {  /* Targeting mediuim-screen devices */
    .home-page-sect_c-img-container--1 {
        transform: translateX(-75px) scale(0.62);
    }
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
    .home-page-sect_c-img-container--1 {
        transform: translateX(-55px) scale(0.75);
    }
}

.home-page-sect_c-text-container--5 {
    text-align: center;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {  /* Targeting medium-screen devices */
    .home-page-sect_c-text-container--5 {
        margin-top: -30px;
    }
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
    .home-page-sect_c-text-container--5 {
        margin-top: -10px;
    }
}

.home-page-sect_c-text--5 {  /* Targeting small-screen devices & others */
    font-size: 1.6rem;
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
    .home-page-sect_c-text--5 {
        font-size: 1.8rem;
    }
}

.home-page-sect_c-text-container--6 {
    text-align: center;
}

.home-page-sect_c-text--6 {  
    font-size: 1.15rem;
}

.home-page-sect_c-img-container--2 {
    width: 320px;
    margin: auto;
    border-radius: 30px;
}

.home-page-sect_c-img-container--2 .picture {
    max-width: 100%;
    height: auto;
    width: 320px;
    border-radius: 30px;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {  /* Targeting medium-screen devices */
    .home-page-sect_c-img-container--2 {
        transform: translateX(-75px) scale(0.6);
    }
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
    .home-page-sect_c-img-container--2 {
        transform: translateX(-58px) scale(0.7);
    }
}

.home-page-sect_c-text-container--7 {
    text-align: center;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {  /* Targeting medium-screen devices */
    .home-page-sect_c-text-container--7 {
        margin-top: -30px;
    }
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
    .home-page-sect_c-text-container--7 {
        margin-top: -10px;
    }
}

.home-page-sect_c-text--7 {  /* Targeting small-screen devices & others */
    font-size: 1.6rem;
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
    .home-page-sect_c-text--7 {
        font-size: 1.8rem;
    }
}

.home-page-sect_c-text-container--8 {
    text-align: center;
}

.home-page-sect_c-text--8 {
    font-size: 1.15rem;
}

.home-page-sect_c-img-container--3 {
    width: 320px;
    margin: auto;
    border-radius: 30px;
}

.home-page-sect_c-img-container--3 .picture {
    max-width: 100%;
    height: auto;
    width: 320px;
    border-radius: 30px;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {  /* Targeting medium-screen devices */
    .home-page-sect_c-img-container--3 {
        transform: translateX(-78px) scale(0.55);
    }
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
    .home-page-sect_c-img-container--3 {
        transform: translateX(-55px) scale(0.7);
    }
}

.home-page-sect_c-text-container--9 {
    text-align: center;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {  /* Targeting medium-screen devices */
    .home-page-sect_c-text-container--9 {
        margin-top: -30px;
    }
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
    .home-page-sect_c-text-container--9 {
        margin-top: -10px;
    }
}

.home-page-sect_c-text--9 {  /* Targeting small-screen devices & others */
    font-size: 1.6rem;
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
    .home-page-sect_c-text--9 {
        font-size: 1.8rem;
    }
}

.home-page-sect_c-text-container--10 {
    text-align: center;
}

.home-page-sect_c-text--10 {
    font-size: 1.15rem;
}

.home-page-sect_c-img-container--4 {
    width: 320px;
    margin: auto;
    border-radius: 30px;
}

.home-page-sect_c-img-container--4 .picture {
    max-width: 100%;
    height: auto;
    width: 320px;
    border-radius: 30px;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {  /* Targeting medium-screen devices */
    .home-page-sect_c-img-container--4 {
        transform: translateX(-77px) scale(0.58);
    }
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
    .home-page-sect_c-img-container--4 {
        transform: translateX(-55px) scale(0.7);
    }
}

.home-page-sect_c-text-container--11 {
    text-align: center;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {  /* Targeting medium-screen devices */
    .home-page-sect_c-text-container--11 {
        margin-top: -30px;
    }
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
    .home-page-sect_c-text-container--11 {
        margin-top: -10px;
    }
}

.home-page-sect_c-text--11 {  /* Targeting small-screen devices & others */
    font-size: 1.6rem;
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
    .home-page-sect_c-text--11 {
        font-size: 1.8rem;
    }
}

.home-page-sect_c-text-container--12 {
    text-align: center;
}

.home-page-sect_c-text--12 {
    font-size: 1.15rem;
}

.home-page-sect_c-img-container--5 {
    width: 320px;
    margin: auto;
    border-radius: 30px;
}

.home-page-sect_c-img-container--5 .picture {
    max-width: 100%;
    height: auto;
    width: 320px;
    border-radius: 30px;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {  /* Targeting medium-screen devices */
    .home-page-sect_c-img-container--5 {
        transform: translateX(-75px) scale(0.58)
    }
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
    .home-page-sect_c-img-container--5 {
        transform: translateX(-55px) scale(0.7);
    }
}

.home-page-sect_c-text-container--13 {
    text-align: center;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {  /* Targeting medium-screen devices */
    .home-page-sect_c-text-container--13 {
        margin-top: -30px;
    }
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
    .home-page-sect_c-text-container--13 {
        margin-top: -10px;
    }
}

.home-page-sect_c-text--13 {  /* Targeting small-screen devices & others */
    font-size: 1.6rem;
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
    .home-page-sect_c-text--13 {
        font-size: 1.8rem;
    }
}

.home-page-sect_c-text-container--14 {
    text-align: center;
}

.home-page-sect_c-text--14 {
    font-size: 1.15rem;
}

/* Section D */

.home-page-middle-container--4 {
    width: 100vw;
    position: relative;
    background-color: #FFFFC7;
}

/* Shape Divider */

.custom-shape-divider-bottom-1623485299 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1623485299 svg {
    position: relative;
    display: block;
    width: calc(132% + 1.3px);
    height: 39px;
}

.custom-shape-divider-bottom-1623485299 .shape-fill--4 {
    fill: #FFFFFF;
}

.home-page-sect_d-text-container--1 {
    width: 90%;
    margin: 30px auto 0 auto;
    text-align: left;
    /* background-color: #FF0000; */
}
 
@media only screen and (min-width: 768px) and (max-width: 992px) {  /* Targeting medium-screen devices */
    .home-page-sect_d-text-container--1 {
        margin-top: 60px;
    }
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
    .home-page-sect_d-text-container--1 {
        margin-top: 40px;
        text-align: center;
    }
}

.home-page-sect_d-text--1 {
    font-size: 1.2rem;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

.home-page-sect_d-text-container--2 {
    width: 90%;
    margin: auto;
    text-align: left;
    padding-bottom: 30px;
    /* background-color: #FF0000; */
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
    .home-page-sect_d-text-container--2 {
        text-align: center;
    }
}

.home-page-sect_d-text--2 {  /* Targeting small-screen devices & others */
    font-size: 2rem;
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
    .home-page-sect_d-text--2 {
        font-size: 2.5rem;
    }
}

.home-page-sect_d-sequence-container {
    width: 90%;
    margin: auto;
    /* background-color: grey; */
}

.home-page-sect_d-card--1 {
    border: none;
    background-color: #FFFFC7;
}

.home-page-sect_d-text-container--3 {
    text-align: left;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
    .home-page-sect_d-text-container--3 {
        text-align: center;
    }
}

.home-page-sect_d-text--3 {  /* Targeting small-screen devices & others */
    font-size: 2.9rem;
    color: #0E49B5;
    opacity: .7;
    letter-spacing: 1.8px;
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
    .home-page-sect_d-text--3 {
        font-size: 3.5rem;
    }
}

.home-page-sect_d-text-container--4 {
    text-align: left;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
    .home-page-sect_d-text-container--4 {
        text-align: center;
    }
}

.home-page-sect_d-text--4 {  /* Targeting small-screen devices & others */
    font-size: 3.1rem;
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
    .home-page-sect_d-text--4 {
        font-size: 3.4rem;
    }
}

.home-page-sect_d-text-container--5 {
    text-align: left;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
    .home-page-sect_d-text-container--5 {
        text-align: center;
    }
}

.home-page-sect_d-text--5 {
    font-size: 1.3rem;
    font-weight: 400;
}