*,
*::before,
*::after {  /* CSS Reset */
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    min-height: 100%;  /* Ensures HTML page is at least as high as browser viewport */
}

body {
    max-width: 100%;
    overflow-x: hidden;
    min-height: 100vh;  /* Ensures page body is at least as high as browser viewport */
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
    color: #000000;
    box-sizing: border-box;  /* Border & Padding now included in Width & Height */
}

/* Pre-navigation Bar */

.top-container-1 {
    width: 100vw;
    background-color: #000000;
}

.pre-navigation .nav-link--1, .pre-navigation .nav-link--2 {
    font-size: 1.1rem;
    color: #FFFFFF;
    text-decoration: none;
}

.pre-navigation .nav-link--1:hover, 
.pre-navigation .nav-link--2:hover {
    color: #F4ABC4;
}

.nav-link--1 {
    margin-right: 2px;
}

/* Main Navigation Bar */

.top-container-2 {
    width: 100vw;
    background-color: #FFFFC7;
}

.navbar {
    padding: 0.8% 5%;
    background-color: #FFFFC7;
}

/* .navbar-brand {
    background-color: grey;
} */

.navbar-brand .logo {  /* Targeting small-screen devices & others */
    max-width: 100%;
    height: auto;
    width: 130px;
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
    .navbar-brand .logo {
        width: 150px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {  /* Targeting medium-screen devices */
    .navbar-toggler {
        transform: translateX(15px);
    }
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
    .navbar-toggler {
        transform: translateX(7px);
    }
}

.hamburger-icon {
    font-size: 1.7rem;
    color: #050505;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {  /* Targeting medium-screen devices */
    .navbar-nav {
        margin-top: 15px;
    }
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
    .navbar-nav {
        margin-top: 12px;
    }
}

.nav-link {  /* Targeting small-screen devices & others */
    font-size: 1.05rem;
    color: #5D93F7;
}

.nav-link:hover {
    color: #EEEEEE;
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
    .nav-link {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 600px) {
    .nav-link {
        line-height: 1.1;
    }
}

.nav-link-highlight {
    padding: 3px;
    box-shadow: 3px -3px 4.3px 0 #7E0FC5;
    background-color: #111111;
}

.home-page-middle-container--1 {  /* Targeting small-screen devices & others */
    width: 100vw;
    position: relative;
    padding: 30px 0 68px 0;  /* Small-screen */
    background-color: #A9F1DF;
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
    .home-page-middle-container--1 {
        padding: 60px 0 80px 0;
    }
}

/* Shape Divider */

.custom-shape-divider-bottom-1623485299 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1623485299 svg {
    position: relative;
    display: block;
    width: calc(132% + 1.3px);
    height: 39px;
}

.custom-shape-divider-bottom-1623485299 .shape-fill--1 {
    fill: #FFFFFF;
}

.home-page-sect_a-card-colour--1 {
    border: none;
    background-color: #A9F1DF;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
    .home-page-sect_a-text-container--1 {
        text-align: center;
    }
}

.home-page-sect_a-text--1 {  /* Targeting small-screen devices & others */
    font-size: 2.2rem;
}

@media only screen and (min-width: 992px) {  /* Targeting large-screen devices and up */
    .home-page-sect_a-text--1 {
        font-size: 4.3rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {  /* Targeting medium-screen devices */
    .home-page-sect_a-text--1 {
        font-size: 3.8rem;
    }
}

@media only screen and (max-width: 600px) {
    .home-page-sect_a-text-container--2 {  /* Targeting small-screen devices */
        text-align: center;
    }
}

.home-page-sect_a-text--2 {  /* Targeting small-screen devices & others */
    font-size: 1.1rem;
    letter-spacing: 1.4px;
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
    .home-page-sect_a-text--2 {
        font-size: 1.3rem;
    }
}

.home-page-sect_a-button-container--2 {
    width: 40%;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
    .home-page-sect_a-button-container--2 {
        margin: auto;
    }
}

.home-page-sect_a-button-colour--1 {
    color: #050505;
    width: 100%;
    border: 1.5px solid #050505;
}

.home-page-sect_a-button-colour--1:hover {
    color: #050505;
    border: none;
    background-color: #808080;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
    .home-page-sect_a-button-colour--1 {
        margin-bottom: 20px;
    }
}

.home-page-sect_a-card-colour--2 {
    border: none;
    background-color: #FFFFFF;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
    .home-page-sect_a-card-colour--2 {
        transform: scale(0.95) translateX(-3px);
    }
}

.home-page-sect_a-text-container--3 {
    width: 95%;
    text-align: left;
    padding-bottom: 15px;
    /* background-color: #FF0000; */
}

.home-page-sect_a-text--3 {  /* Targeting small-screen devices & others */
    font-size: 1.3rem;
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
    .home-page-sect_a-text--3 {
        font-size: 1.7rem;
    }
}

.home-page-sect_a-highlight--2 {
    text-decoration: solid underline #BD00AA;
}

.home-page-sect_a-text-colour {
    color: #000000;
}

/* .home-page-sect_a-button-container--3 {
    background-color: #00FF00;
} */

.home-page-sect_a-button-colour--2 {
    color: #EEEEEE;
    width: 100%;
    background-color: #111111;
}

.home-page-sect_a-button-colour--2:hover {
    color: #FFFF00;
}